<!DOCTYPE html>
<html lang="en">
<head>
<title>分配角色</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="../view/css/bootstrap.min.css?version=$!version" />
<link rel="stylesheet" href="../view/css/bootstrap-responsive.min.css?version=$!version" />
<link rel="stylesheet" href="../view/css/uniform.css?version=$!version" />
<link rel="stylesheet" href="../view/css/select2.css?version=$!version" />
<link rel="stylesheet" href="../view/css/matrix-style2.css?version=$!version" />
<link rel="stylesheet" href="../view/css/matrix-media.css?version=$!version" />
<link rel="stylesheet" href="../view/font-awesome/css/font-awesome.css?version=$!version"/>
</head>
<body>

<div id="content">
  <div id="content-header">
      <h1>分配角色</h1>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title">
            <button class="btn btn-info" onclick="javascrtpt:window.location.href='getAllUser'">返回列表</button>
          </div>
          <div class="widget-content nopadding">
            <form class="form-horizontal" method="post" action="grantUserRole" name="basic_validate" id="basic_validate" novalidate="novalidate">
            	<input type="hidden" name="userid" id="userid" value="$!userinfo.id">
              <div class="control-group">
              <label class="control-label">请选择角色</label>
              <div class="controls">
                <select name="roleid">
                		<option value="" >请选择...</option>
     								#foreach($f in $roleList)
                  <option value="$!f.id">$!f.rolename</option>
                  #end
                </select>
              </div>
            </div>
              <div class="form-actions">
                <input type="submit" value="保存" class="btn btn-success">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="../view/js/jquery.min.js"></script> 
<script src="../view/js/jquery.ui.custom.js"></script> 
<script src="../view/js/bootstrap.min.js"></script> 
<script src="../view/js/jquery.uniform.js"></script> 
<script src="../view/js/select2.min.js"></script> 
<script src="../view/js/jquery.validate.js"></script> 
<script src="../view/js/matrix.js"></script> 
<script src="../view/js/matrix.form_validation.js"></script>
</body>
</html>
