<!DOCTYPE html>
<html lang="en">
<head>
<title>用户信息</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="../view/css/bootstrap.min.css" />
<link rel="stylesheet" href="../view/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="../view/css/uniform.css" />
<link rel="stylesheet" href="../view/css/select2.css" />
<link rel="stylesheet" href="../view/css/matrix-style2.css" />
<link rel="stylesheet" href="../view/css/matrix-media.css" />
<link rel="stylesheet" href="../view/font-awesome/css/font-awesome.css" />
</head>
<body>

<div id="content">
  <div id="content-header">
      <h1>用户信息</h1>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
 
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
            <h5>用户列表</h5>
          </div>
          <div class="widget-title">
            <button type="submit" onclick="javascrtpt:window.location.href='getAddUserPage'" class="btn btn-success">新增</button>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
              <thead>
                <tr>
                  <th>账号</th>
                  <th>姓名</th>
                  <th>角色</th>
                  <th>性别</th>
                  <th>年龄</th>
                  <th>电话</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
        							#foreach($f in $userList)
                   <tr class="gradeA">
                   <td>$!f.account</td>
                   <td>$!f.username</td>
                   <td>$!f.rolename</td>
                   <td>
	      									#if($!f.sex==1)
															男
	      									#elseif($!f.sex==2)
															女
													#else
														未知
        									#end                   		
                   </td>
                   <td>$!f.userage</td>
                   <td>$!f.phone</td>
                   <td>
                   			<a href="getUserRolePage?id=$f.id" class="btn btn-primary btn-mini">设置角色</a>
         									<a href="getEditUserPage?id=$f.id" class="btn btn-primary btn-mini">修改</a>
         									<a href="delUser?id=$f.id" class="btn btn-danger btn-mini">删除</a>
                   </td>
                   </tr>
                   #end 
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="../view/js/jquery.min.js"></script> 
<script src="../view/js/jquery.ui.custom.js"></script> 
<script src="../view/js/bootstrap.min.js"></script> 
<script src="../view/js/jquery.uniform.js"></script> 
<script src="../view/js/select2.min.js"></script>  
<script type="text/javascript">
function load(){
    $.ajax({    
        url:'../user/getAllUserJson',
        data: {
            username : ''
        			},
        type:'get',   
        success:function(data) {
            if (data.state == 200) {
            		console.info(data.data);
               var html = "";
               $.each(data.data, function (k, v) {
                   html +='<tr class="gradeA">';
                   html +='<td>'+v.username+'</td>';
                   html +='<td></td>';
                   html +='<td></td>';
                   html +='<td class="center">-</td>';
                   html +='</tr>';                 
              						 });
               $("table tbody").append(html);
            }else if(data.state == 201){
            		$("body").dialog({type:"danger",discription:"<span style='color:red;'>抱歉，查询数据失败！</span>"});
            }else{
            		$("body").dialog({type:"danger",discription:"<span style='color:red;'>查询数据失败！</span>"});
            				}
        },    
        error : function() {}    
    });
}		
//load();
</script>
<script src="../view/js/jquery.dataTables.min.js"></script>
<script src="../view/js/matrix.js"></script>
<script src="../view/js/matrix.tables.js"></script> 
</body>
</html>
