<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- 实体类,简称 -设置别名 -->
	<typeAliases>
		<typeAlias alias="User" type="com.wang.model.User" />
		<typeAlias alias="Role" type="com.wang.model.Role" />
		<typeAlias alias="UserRole" type="com.wang.model.UserRole" />
		<typeAlias alias="StockInfo" type="com.wang.model.StockInfo" />
		<typeAlias alias="StockInfoDate" type="com.wang.model.StockInfoDate" />
	</typeAliases>
	<!-- 实体接口映射资源 -->
	<!--
		说明：如果xxMapper.xml配置文件放在和xxMapper.java统一目录下，mappers也可以省略，因为org.mybatis.spring.mapper.MapperFactoryBean默认会去查找与xxMapper.java相同目录和名称的xxMapper.xml
	-->
	<mappers>
		<mapper resource="com/wang/mapper/userMapper.xml" />
		<mapper resource="com/wang/mapper/roleMapper.xml" />
		<mapper resource="com/wang/mapper/userRoleMapper.xml" />
		<mapper resource="com/wang/mapper/stockInfoMapper.xml" />
		<mapper resource="com/wang/mapper/stockInfoDateMapper.xml" />
	</mappers>

</configuration>  