<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-4.0.xsd"
	default-lazy-init="true">

    	<!-- 配置securityManager -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="sessionManager" ref="sessionManager"></property>
        <property name="cacheManager" ref="cacheManager"></property>
        <property name="realm" ref="realm"></property>
        <property name="rememberMeManager" ref="rememberMeManager"></property>
    </bean>

    	<!-- 配置cookies -->
    <bean id="rememberCookies" class="org.apache.shiro.web.servlet.SimpleCookie">
      <constructor-arg value="rememberMe"></constructor-arg>
      <property name="httpOnly" value="true"></property>
      <property name="maxAge" value="#{60*60*24}"></property>
    </bean>

    	<!--配置记住我管理器-->
    <bean id="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
        <property name="cipherKey" value="#{T(org.apache.shiro.codec.Base64).decode('6ZmI6I2j5Y+R5aSn5ZOlAA==')}"/>
        <property name="cookie" ref="rememberCookies"/>     
    </bean>
  	 <bean id="userService" class="com.wang.service.impl.UserServiceImpl" /> 

 		<!-- 配置 realm  -->
     <bean id="realm" class="com.wang.login.SystemAuthenticationRealm">
         <property name="userService" ref="userService" />
     </bean>

    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <property name="sessionIdUrlRewritingEnabled" value="false"></property>
		     <property name="globalSessionTimeout" value="600000"/>
		     <property name="deleteInvalidSessions" value="true"/>
    </bean>

   <bean id="cacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager" /> 

    	<!-- 配置spring 自动调用init destroy方法 -->
    <bean id="lifeCycleProcesser" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"></bean>

    	<!-- 使用注解生效 -->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifeCycleProcesser" />
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager" />
    </bean>

    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"></property>
        <property name="loginUrl" value="/syslogin/beginlogin"/>
        <property name="successUrl" value="/syslogin/index"/>  
        <property name="unauthorizedUrl" value="/syslogin/beginlogin"/> 
        <property name="filterChainDefinitions">
            <value>
        			/syslogin/logincheck=anon
        			/syslogin/index=authc
            /user/**=authc
            /role/**=authc
            /stockInfo/**=authc
            /stockInfoDate/**=authc
            /admin/listUser**=authc,perms[admin:manage]
            </value>
        </property>
    </bean>
</beans> 