<link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="view/css/logIn.css">
<script src="view/js/logIn.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div  class="login">
	<div class="login-img">
		<img src="view/img/email.png">
	</div>
	<div class="login-header">
	    <h4>welcome to</h4>
	    <h2>My App</h2>
	</div>	  
	  <div class="login-form">	    
	    <input type="text" placeholder="Username"/><br>
	    <input type="password" placeholder="Password"/>
	    <br>
	    <input type="button" value="Login" class="login-button" onclick="showImage()"/>
	    <img  id="spin" src="view/img/ajax-loader.gif" width="10" height="10">
	    <br>
	    <a class="forgot-pw">Lost your password?</a>
	  </div>
</div>

